# helm repo add argo https://argoproj.github.io/argo-helm
# helm install -n argocd argocd argo/argo-cd -f values/argocd-values.yaml
# helm upgrade -n argocd argocd argo/argo-cd --reset-values -f values/argocd-values.yaml
configs:
  cm:
    resource.customizations.ignoreDifferences.apps_StatefulSet: |
      jqPathExpressions:
      - .spec.volumeClaimTemplates[].metadata.creationTimestamp
    resource.customizations.knownTypeFields.jaegertracing.io_Jaeger: |
      - field: spec.agent.resources
        type: core/v1/ResourceRequirements
      - field: spec.allInOne.resources
        type: core/v1/ResourceRequirements
      - field: spec.collector.resources
        type: core/v1/ResourceRequirements
      - field: spec.ingester.resources
        type: core/v1/ResourceRequirements
      - field: spec.ingress.resources
        type: core/v1/ResourceRequirements
      - field: spec.query.resources
        type: core/v1/ResourceRequirements
      - field: spec.resources
        type: core/v1/ResourceRequirements

redis-ha:
  enabled: false

applicationSet:
  replicas: 0

controller:
  replicas: 1
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: prom
    # rules:
    #   enabled: true
    #   additionalLabels:
    #     release: prom

dex:
  # Not sure why this is enabled by default... https://github.com/argoproj/argo-helm/issues/615
  enabled: false
  # metrics:
  #   enabled: true
  #   serviceMonitor:
  #     enabled: true
  #     additionalLabels:
  #       release: prom

redis:
  exporter:
    enabled: true
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: prom

server:
  autoscaling:
    enabled: true
    minReplicas: 1
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: prom
  service:
    annotations:
      external-dns.alpha.kubernetes.io/hostname: argocd.k8s.somemissing.info
  certificate:
    additionalHosts:
    - argocd.k8s.somemissing.info

repoServer:
  autoscaling:
    enabled: true
    minReplicas: 1
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: prom

extraObjects:
- apiVersion: external-secrets.io/v1
  kind: ExternalSecret
  metadata:
    name: argocd-repo-vmubtkube-a
    namespace: argocd
  spec:
    refreshInterval: 300s
    secretStoreRef:
      name: default
      kind: ClusterSecretStore
    target:
      name: argocd-repo-vmubtkube-a
      template:
        engineVersion: v2
        metadata:
          labels:
            argocd.argoproj.io/secret-type: repository
        data:
          name: vmubtkube-a
          url: ssh://git@github.com/nijave/vmubtkube-a.git
          sshPrivateKey: |
            {{ `{{ .sshPrivateKey }}` }}
          insecure: "false"
          enableLfs: "true"
    data:
    - secretKey: sshPrivateKey
      remoteRef:
        key: github-vmubtkube-a-deploy-key
