apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vmubtkube-a
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
  source:
    path: ./
    repoURL: ssh://git@github.com/nijave/vmubtkube-a.git
    directory:
      exclude: renovate.json
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - PruneLast=true
    - ServerSideApply=true
    - ApplyOutOfSyncOnly=true
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
      limit: 2
  ignoreDifferences:
  - group: external-secrets.io
    kind: ExternalSecret
    jqPathExpressions:
    - ".spec.data.remoteRef[].conversionStrategy"
