apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: hyperdx
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  destination:
    server: "https://kubernetes.default.svc"
    namespace: hyperdx
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - PruneLast=true
    - ServerSideApply=true
    - ApplyOutOfSyncOnly=true
  source:
    chart: hdx-oss-v2
    repoURL: https://hyperdxio.github.io/helm-charts
    targetRevision: 0.8.4
    helm:
      releaseName: hyperdx
      valuesObject:
        global:
          storageClassName: zfs-generic-iscsi-csi
        hyperdx:
          appUrl: http://hyperdx.k8s.somemissing.info
          # appPort: 80
          appPort: 3000
          apiKey: c58fcf6d-fda1-4100-bbba-3ef6ceed8a7f
        clickhouse:
          config:
            clusterCidrs:
              - 192.168.224.0/20
          persistence:
            dataSize: 250Gi
            logSize: 20Gi
        ingress:
          enabled: false
---

apiVersion: v1
kind: Service
metadata:
  name: hyperdx-app
  namespace: hyperdx
  annotations:
    external-dns.alpha.kubernetes.io/hostname: hyperdx.k8s.somemissing.info
spec:
  type: ClusterIP
  ports:
  - name: app
    port: 3000
    protocol: TCP
    targetPort: 3000
  selector:
    app: hyperdx-hdx-oss-v2
    app.kubernetes.io/instance: hyperdx
    app.kubernetes.io/name: hdx-oss-v2
---