apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: intel-device-plugins-gpu
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  destination:
    server: "https://kubernetes.default.svc"
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - PruneLast=true
    - ServerSideApply=true
    - ApplyOutOfSyncOnly=true
  source:
    repoURL: https://intel.github.io/helm-charts/
    chart: intel-device-plugins-gpu
    targetRevision: 0.35.0
    helm:
      releaseName: intel-device-plugins-gpu
      valuesObject:
        name: igpu
        sharedDevNum: 2
        nodeFeatureRule: false
        nodeSelector:
          intel.feature.node.kubernetes.io/gpu: 'true'
