apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich
  namespace: immich
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 250Gi
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: immich-app
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  destination:
    server: "https://kubernetes.default.svc"
    namespace: immich
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - PruneLast=true
    - ServerSideApply=true
    - ApplyOutOfSyncOnly=true
  source:
    repoURL: ghcr.io/immich-app/immich-charts
    chart: immich
    targetRevision: 0.10.3
    helm:
      releaseName: immich
      valuesObject:
        common:
          controllers:
            main:
              containers:
                main:
                  envFrom:
                    - secretRef:
                        name: immich-postgres
        controllers:
          main:
            containers:
              main:
                image:
                  tag: v2.4.1
              resources:
                requests:
                  cpu: 50m
        immich:
          metrics:
            enabled: true
          persistence:
            library:
              existingClaim: immich
        valkey:
          enabled: true
---
